
h1,h2 {
    text-transform: uppercase;
    color: $primaryColor !important;
    text-align: center;
    position: relative;

    &::after {
        @include line($secondaryColor, 110px, -10px);
    }

}

h1 {
    font-size: 1.3rem !important;
}

h2 {
    font-size: 1.1rem !important;
}

section {
    padding: 5vh 0;
}